
<li class="media my-2">
    <img src=<%= user.avator %> class="mr-3 " style="width: 4rem" >
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= user.name %></h5>
      <p> <%= link_to user.email, "#" %> </p>
      <a href="#" class="btn btn-primary">Update</a>
    </div>
</li>
<hr>