
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
    <h2> Register </h2>
    <p>Please Sign up to Join the event!</p>

    <%= render 'form' %>

    <p>Already register? <%= link_to "Login Here", login_path %> instead. </p>
    </div>
  </div>
</div>