<div class="row">
    
    <div class="col-md-6 col-sm-3">
        <h2> Upcoming Events </h2>
       <%= render @events.upcoming %>
     
    </div>
    <div class="col-md-6 col-sm-3">
        <h2> Past Events </h2>
        <%= render @events.past %>
    </div>
 
</div>
